html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* RSET CSS */

body,
* {
  font-family: Agency FB- 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: #191919;
  color: #8a8a8a;
}

.day {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  margin-top: -45px;
}

.day p {
  font-size: 1.5rem;
  list-style-type: none;
  display: inline-flex;
  line-height: 180px;
  margin-left: 35px;
  padding-left: 5px;
  padding-right: 10px;
}

.time {
  display: flex;
  justify-content: center;
}
.time p {
  text-shadow: 2px 2px #c8eedf;
  font-size: 11rem;
  color: #00ff97;
  transition: opacity 1s 0s ease-in-out;
}

.hour {
  display: flex;
  justify-content: center;
}

.hour li a {
  text-decoration: none;
}
.hour ul li {
  font-size: 1.5rem;
  display: inline-flex;
  margin-left: 3rem;
  margin-right: 3rem;
}

.hour .a1 {
  color: #8a8a8a;
}
.hour .a2 {
  color: #00ff97;
}
.date {
  display: flex;
  justify-content: center;
  margin-top: 2%;
}
.date p {
  font-size: 4rem;
}
.date p:hover {
  color: #00ff97;
}
/* footer */

.footer {
  display: flex;
  justify-content: center;
  margin: 2rem;
}

.footer p {
  bottom: 25px;
  text-align: center;
}

/* .comment {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  margin-top: 50px;
} */

/* comment */
.form {
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form textarea {
  color: #000000;
  width: 15%;
  height: 120px;
  background-color: #8a8a8a;
  border-radius: 5px;
}

.form textarea::placeholder {
  color: #000000;
  background-color: #8a8a8a;
}

.form h5 {
  margin-bottom: 15px;
  color: #8a8a8a;
}

.form #addComment {
  background-color: #00ff97;
  opacity: 0.8;
  padding: 0.5em;
  border-radius: 5px;
  color: #000000;
  width: 7%;
  border: 2px solid rgb(255, 255, 255);
}

.form #addComment:hover {
  background-color: #00ff99;
  opacity: 0.9;
}

#name {
  width: 15%;
  height: 2rem;
  background-color: #8a8a8a;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  padding: 5px;
}
#name::placeholder {
  color: #000000;
  background-color: #8a8a8a;
}
/* data yang dimasukkan */
.containerComment {
  border: 1px solid white;
  margin: 1em;
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-left: 35%;
}

.containerComment .nama {
  margin: 15px;
  border: 1px solid red;
}

.containerComment .komen {
  margin: 15px;
  border: 1px solid red;
}

/* Akhir dari style comment */

/* Menambahkan animasi pada 12Hour dan 24Hour */
.animasi {
  animation: example 0.5s linear backwards;
}

@keyframes example {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.flip-vertical-fwd {
  animation: flip-vertical-fwd 0.5s linear backwards;
}

@keyframes flip-vertical-fwd {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* MEDIA QUERRY */

@media only screen and (max-width: 1200px) {
  .hour ul li {
    margin-left: 15px;
    font-size: 1rem;
  }
  .day p {
    margin-left: 0px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1rem;
  }
  .time p {
    display: inline-block;
    font-size: 8rem;
    color: #00ff97;
  }
  /* Comment area */
  .form textarea {
    width: 300px;
    height: 120px;
    background-color: #8a8a8a;
    border-radius: 5px;
  }
  #name {
    width: 300px;
    height: 2rem;
    background-color: #8a8a8a;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 5px;
  }
  /* Submit Button */
  .form #addComment {
    width: 100px;
  }
}
@media only screen and (max-width: 780px) {
  .day {
    margin-top: 10%;
    position: flex;
  }

  .hour ul li {
    text-align: center;
    font-size: 2rem;
    display: flex;
  }

  .day p {
    position: relative;
    height: 100px;
    display: flex;
    flex-direction: column;
    margin-left: -6%;
    font-size: 2rem;
    text-align: center;
    display: none;
  }

  .time p {
    font-size: 5rem;
    color: #00ff97;
    margin-right: 20px;
  }
  .date p {
    font-size: 2rem;
    margin-right: 25px;
  }
  /* Comment area */
  .form textarea {
    width: 300px;
    height: 120px;
    background-color: #8a8a8a;
    border-radius: 5px;
  }
  #name {
    width: 300px;
    height: 2rem;
    background-color: #8a8a8a;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 5px;
  }
  /* Submit Button */
  .form #addComment {
    width: 100px;
  }
}

@media only screen and (max-width: 450px) {
  .time p {
    font-size: 3rem;
    color: #00ff97;
    margin-left: 10px;
  }
  .date p {
    font-size: 1rem;
  }

  /* Comment area */
  .form textarea {
    width: 200px;
    height: 120px;
    background-color: #8a8a8a;
    border-radius: 5px;
  }
  #name {
    width: 200px;
    height: 2rem;
    background-color: #8a8a8a;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 5px;
  }
}

@media only screen and (max-width: 380px) {
  .day {
    justify-content: center;
  }
  .footer p {
    font-size: 0.5rem;
  }
}
@media only screen and (max-width: 180px) {
  .footer p {
    font-size: 7px;
  }
}
