html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* RSET CSS */

body,
* {
  font-family: Agency FB- 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: #191919;
  color: #8a8a8a;
}

.day {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  margin-top: 12%;
}

.day p {
  font-size: 1.5rem;
  list-style-type: none;
  display: inline-flex;
  line-height: 180px;
  margin-left: 35px;
  padding-left: 5px;
  padding-right: 10px;
}
.day p:nth-child(1) {
  color: #00ff97;
}
.time {
  display: flex;
  justify-content: center;
}
.time p {
  text-shadow: 2px 2px #c8eedf;
  font-size: 11rem;
  color: #00ff97;
  transition: opacity 1s 0s ease-in-out;
}

.hour {
  display: flex;
  justify-content: center;
}

.hour li a {
  text-decoration: none;
}
.hour ul li {
  font-size: 1.5rem;
  display: inline-flex;
  margin-left: 3rem;
  margin-right: 3rem;
}

.hour .a1 {
  color: #8a8a8a;
}
.hour .a2 {
  color: #00ff97;
}

/* Menambahkan animasi pada 12Hour dan 24Hour */
.animasi {
  animation: example 0.5s linear backwards;
}

@keyframes example {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.flip-vertical-fwd {
  animation: flip-vertical-fwd 0.5s linear backwards;
}

@keyframes flip-vertical-fwd {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* MEDIA QUERRY */

@media only screen and (max-width: 1200px) {
  .hour ul li {
    margin-left: 15px;
    font-size: 1rem;
  }
  .day p {
    margin-left: 0px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1rem;
  }
  .time p {
    display: inline-block;
    font-size: 8rem;
    color: #00ff97;
  }
}
@media only screen and (max-width: 750px) {
  .day {
    margin-top: 35%;
    position: flex;
  }

  .hour ul li {
    text-align: center;
    font-size: 2rem;
    display: flex;
  }

  .day p {
    position: -ms-page;
    height: 100px;
    display: flex;
    flex-direction: column;
    margin-left: -6%;
    font-size: 2rem;
    text-align: center;
    display: none;
  }
  .day p:nth-child(1) {
    position: absolute;
    display: -webkit-box;
  }
  .time p {
    font-size: 5rem;
    color: #00ff97;
    margin-right: 20px;
  }
}

@media only screen and (max-width: 450px) {
  .time p {
    font-size: 3rem;
    color: #00ff97;
    margin-left: 10px;
  }
}
